/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MuseoSans', sans-serif;
  font-weight: 500;
}

/* Default text styles */
p, span, div, button, input, textarea, select {
  font-family: 'MuseoSans', sans-serif;
  font-weight: 500;
}

